footer.footer
  .footer__top
    .container
      .footer__content
        .footer__decor-left
        .footer__decor-right
        .footer__top-left
          .header__logo.footer__logo
            a(href="#")
              +img('logo.svg')
          .footer__top-contacts
            .footer__top-contacts__item
              b Адрес:
              p Киев, пр-т Соборности, 30, оф. 314 03058
            .footer__top-contacts__item
              b Телефон:
              p
                .div
                  a(href="tel:+380982326677") +380 98 232 6677
                .div
                  a(href="tel:+380674429922") +380 67 442 9922
        .footer__top-right
          .footer__top-nav
            .footer__top-nav__item
              .footer__top-nav__title Наши услуги
              a(href="#").footer__top-nav__link Свето-прозрачные ограждающие конструкции
              a(href="#").footer__top-nav__link Фасады Лёгким мокрым методом или мокрые фасады
              a(href="#").footer__top-nav__link Навесные вентилируемые фасады
              a(href="#").footer__top-nav__link Стеклянные перегородки
            .footer__top-nav__item
              .footer__top-nav__title Наши услуги
              a(href="#").footer__top-nav__link Диллерам
              a(href="#").footer__top-nav__link Дизайнерам
      .footer__middle
        .footer__middle-left
          .footer__middle-item
            a(href="#") О компании
          .footer__middle-item
            a(href="#") Проекты
        .footer__middle-right
          .footer__middle-item
            button(type="button").btn--res.footer__middle-btn
              +svg('arrow-big')
              span.footer__middle-btn__bordered
              span.footer__middle-btn__text Наверх
  .footer__bottom
    .footer__copyright BUILDING ENERGY ALLIANCE, 2021
    .footer__wrong All Rights Reserved
