@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope/Manrope-Bold.woff2') format('woff2'),
    url('../fonts/manrope/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/sfUi/SFUIDisplay-Regular.woff2') format('woff2'),
    url('../fonts/sfUi/SFUIDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/sfUi/SFUIDisplay-Medium.woff2') format('woff2'),
    url('../fonts/sfUi/SFUIDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/sfUi/SFUIDisplay-Bold.woff2') format('woff2'),
    url('../fonts/sfUi/SFUIDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('AvenirNextCyr-Bold.woff2') format('woff2'),
    url('../fonts/avenirNext/AvenirNextCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
